/* LoginPage.css */

.login-container {
    font-family: "Poppins";
    width: 90%;
    max-width: 500px !important;
    margin-top: 5%;
    padding: 30px !important;;
    border-radius: 7px;
    background-color: rgba(248, 249, 250, 1);
}

.branding-menu-logo {
    width: 80%;
    max-width: 140px;
}

.logo-container {
    margin-bottom: 2rem;
}

.login-form {
    margin-top: 1rem;
}

@media screen and (min-width: 280px) {
    .login-container {
        width: 90%;
    }
}

@media screen and (min-width: 576px) {
    .login-container {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .login-container {
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    .login-container {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .login-container {
        width: 25%;
    }
}
