/* Sidebar.css */

.hover {
    cursor: pointer;
  }
  
  .sidebar-col {
    font-family: "Poppins";
  }
  
  .sidebar-logo {
    width: 50px;
    margin: 15px 0;
  }
  
  .sidebar-title {
    font-size: 20px;
  }
  
  .sidebar-item {
    font-size: 18px;
  }
  
  .sidebar-icon {
    margin: 5px 8px;
  }
  
  /* Extra small devices (phones, 280px and up) */
  @media screen and (min-width: 280px) {
    .sidebar-logo {
      width: 50px;
    }

    .sidebar-item {
      font-size: 14px;
    }
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media screen and (min-width: 576px) {
    .sidebar-logo {
      width: 60px;
    }
    .sidebar-title {
      font-size: 18px;
    }
    
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media screen and (min-width: 768px) {
    .sidebar-logo {
      width: 35px;
    }
    .sidebar-title {
      font-size: 12px;
    }
    .sidebar-item {
      font-size: 11px;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media screen and (min-width: 992px) {
    .sidebar-logo {
      width: 40px;
    }
    .sidebar-title {
      font-size: 16px;
    }
    .sidebar-item {
      font-size: 14px;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media screen and (min-width: 1200px) {
    .sidebar-logo {
      width: 50px;
    }
    .sidebar-title {
      font-size: 18px;
    }
    .sidebar-item {
      font-size: 16px;
    }
  }
  
  @media screen and (min-width: 1400px) {
    .sidebar-logo {
      width: 70px;
    }
    .sidebar-title {
      font-size: 21px;
    }
  }


  